sudo: required
services:
   - docker 
before_install:
   - docker build -t  creativeprogrammer2020/docker-react  -f Dockerfile.dev .

script:
   - docker run  creativeprogrammer2020/docker-react npm run test -- --coverage